.container
  .text.text-center
    %h1 Wine-o
    %h2 Organinzing your wine, one bottle at a time

  .row
    .col-md-3
      %p.lead= image_tag("wine1.jpg", class:"img-responsive")

      = link_to "Delete", winery_path(Winery.first), method: "delete"
      = link_to "Delete User", user_path(User.first), method: :delete
